*{
    color: #555;
}

.content{
    width: 75%;
    margin: 0px auto;
    padding: 80px 0;   
}
img{
    border-radius: 5px;
}
video{
    width: 100%;
    border-radius: 5px;
}
h1{
    line-height: 40px;
}
h2,h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}
p{
    margin-bottom: 35px;
    line-height: 25px;
}
a{
    text-transform: uppercase;
}
/* 網頁主色調 色票 #f5efef  #f6f7fc  */
body{
    background-color: #f6f7fc;
}
.header, .AD, #featured{
    background-color: #f5efef;
}

/*--header--*/
.header{
    padding: 15px 0;
}
.header .content{
    padding: 0;
}
.header .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #fff;
    z-index: 98;
}
.title .nav{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}
.title .nav ul{
    margin: 20px;
}
.title .nav a{
    padding: 12px;
}
.title .icon{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}
.title .icon ul{
    display: flex;
}
.title .icon a{
    padding: 5px;
}
.title label .fa-times{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.title .fas{
    font-size: 20px;
}
#menu_control{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
#menu_control:checked ~ .title .nav,
#menu_control:checked ~ .title .icon{
    position: absolute;
    width: 200px;
    z-index: 98;
    opacity: 1;
    background-color: #fff;
}
#menu_control:checked ~ .title .nav{
    height: 100vh;
}
#menu_control:checked ~ .title label .fa-times{
    position: absolute;
    top:10px;
    right:10px;
    z-index: 99;
    opacity: 1;
}

/*--輪播--*/
.AD .content{
    padding-top: 0;
}
    /*--圖片間距--*/
.slick-slide {
    margin-left: 10px;
}
.slick-list {
    margin-left: -10px;
    border-radius: 5px;
}
    /*方向大小*/
.slick-prev:before,
.slick-next:before{
    font-size: 30px;
}

/*--services--*/
#services .left_box{
    text-align: right;
}
#services h1{
    margin-bottom: 50px;
}
#services .left_box p{
    margin-top: 15px;
} 
#services .hover_bg{
    position: relative;
}
#services .hover{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#services a .text{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    opacity: .7;
    transition: .3s;
}
#services .right_box a .text{
    left: 43%;
}
    #services a:hover .text{
        opacity: 1;
    }

/*--featured--*/

#featured .left_box {
    display: flex;
    align-items: center;
}
#featured h2 {
    margin-top: 35px;
}
#featured a{
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 30px;
}

/*--stories--*/
#stories{
    text-align: center;
}
#stories img{
    display:block;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#stories h3{
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#stories .cover{
    position: relative;
}
#stories .cover .text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0;

    transition: all 0.5s;
}
    #stories .cover .text:hover{
        opacity: 1;
    }

/*--someone say--*/
#someone_say{
    text-align: center;
    padding: 80px 50px;
 /*   background-image: url("../images/art/bg16.jpg");
    background-repeat: no-repeat;
    background-size: 270%;
    background-position: center;
    background-attachment: fixed;*/
    background: url("../images/art/bg16.jpg") no-repeat  center fixed;
}

#someone_say h1{
    padding-top: 20px;
    font-size: 90px;
    line-height: 10px;
    color: #fff;
    opacity: .8;
}
#someone_say p{
    margin-bottom: 7px;
    color: #fff;
    opacity: .8;
    line-height: 30px;
}
#someone_say .small{
    margin-bottom: 0px;
    font-size: 12px;
}

/*--about me--*/
#about_me .my_story{
    margin-bottom: 40px;
}
#about_me .left_box .small{
    font-size: 14px;
}
#about_me .left_box a{
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 30px;
}
#about_me .skill{
    margin: 25px 0;
}
#about_me .my_skills .text{
    display: flex;
    justify-content: space-between;
}
#about_me .my_skills p{
    margin-bottom: 8px;
}
#about_me .my_skills .percent_bar{
    width: 100%;
    height: 10px;
    background-color: rgb(235, 229, 229);
    border-radius: 5px;
}
#about_me .my_skills .percent{
    width: 80%;
    height: 10px;
    background-color: rgb(231, 195, 195);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*
#about_me .my_equipment li:before{
    content: "\2022";  /*圓點
    font-size: 25px;
    color: rgb(231, 195, 195);
}
*/
#about_me .my_equipment li span{
    margin-right: 8px;
    font-size: 13px;
    color: rgb(231, 195, 195);
}
#about_me .my_equipment li{
    margin: 15px 0;
}

/*--footer--*/
#footer{
    background-color: #000;
}
#footer .content{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
#footer .copyright, #footer .icon{
    display: flex;
    align-items: center;
    color: #fff;
}
#footer .icon ul{
    display: flex;
}
#footer .icon i{
    color: #fff;
    padding: 0 5px;
}
