@media (min-width: 500px){
    #someone_say{
        padding: 80px 100px;
        background-size: 250%;
    }
}

@media (min-width: 768px){
    .left_box, .right_box{
        width: 50%;
    }
    .left_box{
        margin-right: 40px;
    }
    /*--services--*/
    #services .content{
        display: flex;
        justify-content: space-between;
    }
    #services .left_box, #services .right_box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    /*--featured--*/
    #featured .content{
        display: flex;
        justify-content: space-between;
    }
    #featured .left_box {
        width: 60%;
    }
    #featured .right_box {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #featured h2 {
        margin-top: 0px;
    }
    #featured a{
        padding: 15px 25px;
        background-color: #fff;
        border-radius: 30px;
    }
    /*--stories--*/
    #stories .stories{
        display: flex;
        justify-content: space-between;
    }
    #stories .story{
        width: 31%;
    }    
    /*--about me--*/
    #about_me .my_story{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    #about_me .left_box,#about_me .right_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #about_me .my_info{
        display: flex;
        justify-content: space-between;
    }
    #about_me .my_info>div{
        width: 30%;
    }
    
    /*--footer--*/
    #footer .icon i{
        padding: 0 12px;
    }
}

@media (min-width:1024px){
    /*--header--*/
    .title label{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .title .nav, .title .icon{
        position: relative;
        height: auto;
        z-index: 1;
        opacity: 1;
    }
    .title .nav ul{
        padding: 0;
        display: flex;
        align-items: center;
    }

      .title .nav a:hover{
            font-weight: bolder;
        }
    #menu_control:checked ~ .title .nav{
        position: relative;
        width: auto;
        height: auto;
    }

    /*--featured--*/
    #featured .left_box {
        width: 65%;
    }
    #featured .right_box {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    .title .icon a{
        padding: 15px;
    }
}